<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- mapper.xml에서 parameterType/ resultType을 전체 경로가 아닌 별칭으로 사용할 수 있다. -->
    <typeAliases>
        <typeAlias type="com.board.domain.Member" alias="member"></typeAlias>
    </typeAliases>
    
</configuration>